<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/Feedback.css">
    <script language="javascript" type="text/javascript" ></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body background="images/f2.jpg">
<center>
    <h1>FEEDBACK</h1>
    <br>
</center>
<div align="center">
    <p>Send us your feedback</p>
    <form method="post" action="/Feedback">
    <textarea row="30" col="30" name="feed" placeholder="Enter Your Feedback Here...."></textarea>
    <input type="submit" class="btn" value="Submit">
</form>
    <br><br><br>
    <!-- <input type="submit" class="btn" value="Submit" onclick="myFunction()"> -->
</div>
</body>
</html>