<html>
    <head>
        <link rel="stylesheet" href="stylesheets/Home.css">
        <title>
            Home
        </title>
        <script>
            function change()
            {
               v= document.getElementById("img1")
               w=document.getElementById("img2")
               v.src="images/q2.jpg"
               w.src="images/q7.jpg"
            }
        </script>
    </head>
    <body background="images/l3.jpg" style="background-repeat: no-repeat; background-size:200%;">
        <center><h1>CarrerMitra</h1></center>
        <center><h2>GET THE FUTURE YOU DESERVE!!</h2></center>
        <center><a href="Home" id="a">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="About">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="UserIndex">Information</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="Feedback">Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="Logout">Logout</a></center>
        <hr size="4">
        <div align="center">
        <img src="images/q1.jpg" width="50%" height="50%" id="img1"  onmouseover="change()">
        <pre style="font-size: larger;">"Where there is a will, there is a way. If there is a chance in a million that you can 
    do something, anything, to keep what you want from ending, do it. Pry the door open or, 
        if need be, wedge your foot in that door and keep it open.”
    <b>—Pauline Kael</b></pre>
    </div>
    <br><br><br><br>
    <center>
    <div>
        <img src="images/q3.jpg" width="50%" height="50%" id="img2" onmouseover="change()">
        <pre style="font-size: larger;"> "People tell you the world looks a certain way. Parents tell you how to think. Schools
tell you how to think. TV. Religion. And then at a certain point, if you're lucky, you
realize you can make up your own mind. Nobody sets the rules but you. You can design
your own life."
    <b>— Carrie Ann Moss</b></pre>
    </div>
</center>
<footer>
    <p style="color:maroon">
        <b>data: { api_code: 'PRAYATNA_2d600397e6f84e7fa5787f60d9bde5eb' }</b>
    </p>
</footer>
    </body>
</html>