<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="stylesheets/Login.css">
    </head>
    <body>
        <pre><h1>             CareerMitra</h1>                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="Login" style="color:black; font-style: oblique;"><b style="font-size: larger;"><u>Login</u></b></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="Register" style="color: black; font-style: oblique;"><b style="font-size: larger;"><u>Register</u></b></a>     </pre>
        <div class="form-box">
            <div class="header-text">
                LOGIN!!
            </div> 
            <form method="post" action="/Login">
            <input placeholder="Your Email Address" type="text" name="email">
            <input placeholder="Your Password" type="password" name="psw">
            <input id="term" type="checkbox">
            <input id="lg" type="submit" value="Login">
        </form>
            <br><br>
            <ul>
                <li>If Don't Have a Account <a href="Register" id="a">Click Here</a></li>
            </ul>
        </div>
        <footer style="color:brown;"><b>data: { api_code: 'PRAYATNA_2d600397e6f84e7fa5787f60d9bde5eb' }</b></footer>
    </body>
</html>