* {box-sizing: border-box;}

.container {
    padding: 16x;
}

input[type=text], input[type=password]
{
    width: 90%;
    padding: 18px;
    margin: 5px 0 18px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
background-color: #ddd;
outline: none;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn
{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.registerbtn:hover
{
    opacity: 1;
}

body{
    background-color: grey;
}

p{
    color: white;
    font-family: courier;
    font-size: 120%;
}

h1
{
    color: black;
    font-family: verdana;
    font-size: 220%;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 0 20px;
}

.nav-links
{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-right: 20px;
}

.nav links a{
    color: rgb(0,0,0);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #40b736;
    border-radius: 4px;
    color: white;
}
